<h1>Yeah, more questions, that's what we need...</h1>
<hr />
<form method="post">
    <label for="addNewTitle">Title:</label>
    <br />
    <textarea id="addNewTitle" name="title" rows="1" cols="80" required></textarea>
    <br />
    <label for="addNewQuestion">Question:</label>
    <br />
    <textarea id="addNewQuestion" name="text" rows="10" cols="80" required></textarea>
    <br />
    <label for="image">Image Link:</label>
    <br />
    <textarea id="image" name="image" rows="1" cols="80"></textarea>
    <br />
    <input type="submit" value="Send the question" />
</form>
