@model AskMate2.Domain.Question
<h1>Yeah, this is a silly question...</h1>
<hr />
<form method="post" asp-controller="Questions" asp-action="DeleteQuestion">
    <label for="questions">Question:</label>
    <br />
    <input type="text" style="width:500px;" list="questions" id="question" name="question" autocomplete="off" required>
    <datalist id="questions">
        @foreach (KeyValuePair<string, object> item in ViewData)
        {
            string value = item.Key +": " + item.Value.ToString();
            <option value="@value"></option>
        }
    </datalist>
    <br />
    <br />
    <input type="submit" value="Delete question" />
</form>

