@model Transit 
<h1>I told you so...editing if difficult.</h1>
<hr />
<form method="post" asp-controller="Questions" asp-action="EditQuestion3">

    <label for="editQuestionId">ID:</label>
    <br/>
    <textarea class="inactive-input" id="editQuestionId" name="editId" rows="1" cols="50" readonly>@Model.Qid</textarea>
    <br/>
    <label for="editQuestionTitle">Title:</label><br/>
    <textarea id="editQuestionTitle" name="editTitle" rows="1" cols="80" required>@Model.Qtitle</textarea>
    <br/>
    <label for="editQuestionText">Text:</label><br/>
    <textarea id="editQuestionText" name="editText" rows="5" cols="80" required>@Model.Qtext</textarea>
    <br />
    <br />
    <input type="submit" value="Edit question"/>
</form>