@model AskMate2.Domain.Question
<h1>Stop making lists!</h1>
<hr />
@{ if (ViewData.Count != 0)
    {
        foreach (KeyValuePair<string, object> item in ViewData)
        {
            string value = item.Value.ToString();
            string key = item.Key.ToString();

            <p>@key : @value</p>
        }
    }
    else
    {
        <p>There are no questions!</p>
    }
}



