
@{
    ViewData["Title"] = "devspage";
}

<h1>devspage</h1>
<br />
<p>principal: @ViewData["email"]</p>

<h4>Test functions</h4>
<ul>
    <li><a asp-controller="Questions" asp-action="ListQuestions">List all questions</a></li>
    <li><a asp-controller="Questions" asp-action="ShowQuestion">Show a question</a></li>
    <li><a asp-controller="Questions" asp-action="AddQuestion">Add a new question</a></li>
    <li><a asp-controller="Questions" asp-action="EditQuestion1">Edit a question</a></li>
    <li><a asp-controller="Questions" asp-action="DeleteQuestion">Delete a question</a></li>
    <li><a asp-controller="Questions" asp-action="Vote">Vote on Question</a></li>
    <li><a asp-controller="Questions" asp-action="CommentToQuestion">Comment on a question</a></li>
    <li><a asp-controller="Questions" asp-action="AddImageToQuestion">Add Image to question</a></li>
    <li><a asp-controller="Questions" asp-action="EditCommentQuestion">Edit comment on question</a></li>
    <li><a asp-controller="Questions" asp-action="DeleteCommentQuestion">Delete comment on question</a></li>
    <li><a asp-controller="Answers" asp-action="ShowAnswers">Show answers for a question</a></li>
    <li><a asp-controller="Answers" asp-action="AddAnswer">Add an answer</a></li>
    <li><a asp-controller="Answers" asp-action="DeleteAnswer">Delete an answer</a></li>
    <li><a asp-controller="Answers" asp-action="AnswerVote">Vote for an answer</a></li>
    <li><a asp-controller="Answers" asp-action="CommentToAnswer">Comment on an answer</a></li>
    <li><a asp-controller="Answers" asp-action="EditCommentAnswer">Edit comment on answer</a></li>
    <li><a asp-controller="Answers" asp-action="EditAnswer">Edit answer</a></li>
    <li><a asp-controller="SinglePage" asp-action="SinglePage">SinglePage design</a></li>

</ul>
