
@{
    ViewData["Title"] = "Events";
}
@model WEB_PA.Models.EventsModel
<div class="Events-grid">
    <div class="Events-left">
        <h3 class="center-title">Your existing events</h3>
        @{ if (Model.Events.Count != 0)
            {
                <table class="Backlog-table">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Time</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{foreach (WEB_PA.Domain.Event ev in Model.Events)
                        {
                            <tr>
                                <td><a asp-controller="Events" asp-action="ShowEvent" asp-route-eid=@(ev.EventID)>@ev.Name</a></td>
                                <td>@ev.Time</td>
                                <td><a asp-controller="Events" asp-action="DeleteEvent" asp-route-eid=@(ev.EventID)>Delete</a></td>
                                <td><a asp-controller="Events" asp-action="UpdateEvent" asp-route-eid=@(ev.EventID)>Update</a></td>
                            </tr>
                        }
                        }
                    </tbody>
                    
                </table>
            }
            else
            {
                <p>There are no events!</p>
            }
        }
    </div>
    <div class="Events-center">

    </div>
    <div class="Events-right">
        <h3 class="center-title">Make a new event</h3>
        <form method="post" asp-controller="Events" asp-action="AddEvent" autocomplete="off">
            <input class="input-text" type="text" name="eventName" maxlength="50" placeholder="Name of the event" required autocomplete="off" />
            <textarea class="input-text-area" name="description" placeholder="Description of the event" rows="18" required autocomplete="off"></textarea>
            <input class="input-text" type="text" name="address" maxlength="60" placeholder="Location Address" required autocomplete="off" />
            <input class="input-text" type="text" name="gpsCoord" maxlength="30" placeholder="GPS coordinate" autocomplete="off" />
            <input class="input-date" type="date" name="date" required autocomplete="off" />
            <input class="input-time" type="time" name="time" required autocomplete="off" />
            <input class="button" type="submit" value="Add event" />
        </form>
    </div>
</div>

