@model AskMate2.Domain.Question
<h1>Yeah, my cat had better answer...so, what is 2 + 2?</h1>
<hr />
<form method="post" asp-controller="Answers" asp-action="DeleteAnswer">
    <label for="questions">Question:</label>
    <br />
    <input type="text" style="width:500px;" list="questions" id="question" name="question" autocomplete="off" required>
    <datalist id="questions">
        @foreach (KeyValuePair<string, object> item in ViewData)
        {
            string value = item.Value.ToString();
            <option value="@value"></option>
        }
    </datalist>
    <br />
    <br />
    <input type="submit" value="Show question" />
</form>

