@{

}
@model List<Transit>
<h1>Answers</h1>
<hr />
@{ 
    if (Model.Count > 0 && Model[0].Aid != "" )
    {
        <ul>
            <li>Question ID: @Model[0].Qid  - Title:@Model[0].Qtitle </li>
            <li>Question: @Model[0].Qtext</li>
        </ul>
        <hr class="line-1"/>
        <ul>
            @{
                foreach (Transit transit in Model)
                {
                    <li>Answer ID: @transit.Aid</li>
                    <li>Answer: @transit.Atext</li>
                    <hr />
                }
             }
        </ul>
    }
    else
    {
        <p>There is no answers for this question!</p>
    }
}
