
@{
    ViewData["Title"] = "Login";
}

    <div>
        <h3>Login</h3>
        <br />
        <form method="post">
            <label>Email</label>
            <input type="text" name="email" />
            <br />
            <label>Password</label>
            <input type="password" name="password" autocomplete="off" />
            <br />
            <br />
            <input type="submit" value="Login" /> <!--Missing Attribute-->
        </form>
        <br />
        <br />
        <h3>OR</h3>
    </div>
<hr />
<br />
<br />
<div>
    <h3 >Register</h3>
    <br />
    <form method="post" asp-controller="Account" asp-action="Register">
        <label>UserName</label>
        <input type="text" name="user_id" autocomplete="off" />
        <br />
        <label>Email</label>
        <input type="text" name="email" autocomplete="off" />
        <br />
        <label>Password</label>
        <input type="password" name="password" autocomplete="off" />
        <br />
        <br />
        <input type="submit" value="Register" />
    </form>
</div>

