
@{
    ViewData["Title"] = "Login";
}

<div class="Login-grid">
    <div class="Login-left">
        <h3 class="center-title">Login</h3>
        <form method="post" asp-controller="Account" asp-action="Login" autocomplete="off">
            <input class="input-text" type="text" name="email" placeholder="email" required autocomplete="off"/>
            <br />
            <input class="input-text" type="password" name="password" placeholder="password" autocomplete="off" />
            <br />
            <input class="button" type="submit" value="Login" />
        </form>
        
    </div>
    <div class="Login-center">
        <br />
        <h3 class="center-title" id="Login-center">OR</h3>
    </div>
    <div class="Login-right">
        <h3 class="center-title">Register</h3>
        <form method="post" asp-controller="Account" asp-action="Register" autocomplete="off">
            <input class="input-text" id="" type="text" name="nickName" placeholder="nickname" required autocomplete="off"/>
            <br />
            <input class="input-text" type="text" name="email" placeholder="email" required autocomplete="off"/>
            <br />
            <input class="input-text" type="password" name="password" placeholder="password" required autocomplete="off"/>
            <br />
            <input class="input-text" type="text" name="firstName" placeholder="first name" required autocomplete="off" />
            <br />
            <input class="input-text" type="text" name="familyName" placeholder="family name" required autocomplete="off"/>
            <br />
            <input class="button" type="submit" value="Register" />
        </form>
    </div>
</div>

