
@{
    ViewData["Title"] = "Login";
}

<div class="Login-grid">
    <div class="Login-left">
        <h3 class="center-title">Login</h3>
        <form method="post">
            <label class="Login-label">Email</label>
            <br />
            <input class="input-text" type="text" name="email" />
            <br />
            <label class="Login-label">
                Password</labelclass="Login-label">
                <br />
                <input class="input-text" type="password" name="password" autocomplete="off" />
                <br />
                <br />
                <input class="button" type="submit" value="Login" />
        </form>
        
    </div>
    <div class="Login-center">
        <br />
        <h3 class="center-title" id="Login-center">OR</h3>
    </div>
    <div class="Login-right">
        <h3 class="center-title">Register</h3>
        <form method="post" asp-controller="Account" asp-action="Register">
            <label class="Login-label">Nick name</label>
            <br />
            <input class="input-text" type="text" name="user_id" required/>
            <br />
            <label class="Login-label">Email</label>
            <br />
            <input class="input-text" type="text" name="email" required/>
            <br />
            <label class="Login-label">Password</label>
            <br />
            <input class="input-text" type="password" name="password" required/>
            <br />
            <label class="Login-label">First name</label>
            <br />
            <input class="input-text" type="password" name="firstName"/>
            <br />
            <label class="Login-label">Family Name</label>
            <br />
            <input class="input-text" type="password" name="lastName"/>
            <br />
            <br />
            <input class="button" type="submit" value="Register" />
        </form>
    </div>
</div>

