@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Do you really want to log out?</p>
<br />
<form method="post">
    <input type="hidden" name="hidden" value="" />
    <input type="submit" value="Yep!"></input>
</form>
