
@{
    ViewData["Title"] = "Backlog";
}

    <div class="Backlog">
        <div class="Backlog-title">
            <h1>Orienteering Express project backlog</h1>
            <p>A simple online hiking and orienteering event / trip designer.</p>
            <p>Mainly a homepage based on ASP.NET Core MVC with a little bit of Javascript frontend tweaking. Later expansion WEB API with single page WEB app</p>
            <hr />
        </div>

        <div class="Backlog-tasks">
            <br />
            <table class="Backlog-table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Duration</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Making database</td>
                        <td>1 day</td>
                        <td>Planning and writing a reusable init script of the database creation. Consists: creating tables, fields, relations between the tables/fields</td>
                    </tr>
                    <tr>
                        <td>user registration</td>
                        <td>2 hours</td>
                        <td>making a login / registration page</td>
                    </tr>
                    <tr>
                        <td>user authentication</td>
                        <td>5 hours</td>
                        <td>cookie based user authentication</td>
                    </tr>
                    <tr>
                        <td>event creation</td>
                        <td>1.5 hours</td>
                        <td>making an event creation page</td>
                    </tr>
                    <tr>
                        <td>competition /trip creation</td>
                        <td>1.5 hours</td>
                        <td>making a competition creation page</td>
                    </tr>
                    <tr>
                        <td>task creation</td>
                        <td>1.5 hours</td>
                        <td>making a task creation page</td>
                    </tr>
                    <tr>
                        <td>map creation</td>
                        <td>1 hour</td>
                        <td>making a map upload page</td>
                    </tr>
                    <tr>
                        <td>point creation</td>
                        <td>3 hours</td>
                        <td>making a point creation page</td>
                    </tr>
                    <tr>
                        <td>two panel style information page</td>
                        <td>2 days</td>
                        <td>making a comprehensive information page about events/competitions/tasks/points </td>
                    </tr>
                    <tr>
                        <td>update function of all objects</td>
                        <td>1 day</td>
                        <td>implementing update function of all events/competitions/tasks/maps/points</td>
                    </tr>
                    <tr>
                        <td>delete function of all objects</td>
                        <td>1 day</td>
                        <td>implementing delete function of all events/competitions/tasks/maps/points</td>
                    </tr>
                    <tr>
                        <td>password encoding</td>
                        <td>4 hours</td>
                        <td>salt generation, salt adding, hash</td>
                    </tr>
                    <tr>
                        <td>WEB API</td>
                        <td>2 days</td>
                        <td>making a WEB API / REST API</td>
                    </tr>
                    <tr>
                        <td>WEB APP</td>
                        <td>2 days</td>
                        <td>Single page WEB APP, partly implemented of the MVC project functionality</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <hr />
        </div>
        <div class="Backlog-dbER">
            <p>Database design</p>
            <img class="database-diagram" src="~/Images/Orienteering_DB_ERD.png" />
        </div>
    </div>
