<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body class="Main-body">
    <div class="Main-header">
        <div class="Nav-title">
            <a asp-area="" asp-controller="Home" asp-action="Index">ORIENTeering Express</a> @*Change*@
        </div>
        <div class="Nav-logo">
            <img class="centerimg" src="~/Images/logo.png" alt="animated question mark">
        </div>
        <div class="Nav-login">
            @{
                if (ViewData["currentUser"] == null || ViewData["currentUser"].Equals(""))
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
            }
        </div>
        <div class="Nav-user">
            @{
                string username = "unknown";
                if (ViewData["currentUser"] != null && ViewData["currentUser"] != "")
                {
                    username = ViewData["currentUser"].ToString();
                }
                else
                {
                    username = "wanderer";
                }
                <p class="currentUser">Welcome @username !</p>
                if (username != "wanderer")
                {
                    <a asp-controller="User" asp-action="user">Your activity -></a>
                }
            }
        </div>
    </div>
    <div class="container">
        
            @RenderBody()
        
    </div>
    <div class="Main-footer">
        <div>
            &copy; 2020 - Tájfutás - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
