<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>
<body class="Main-body">
    <div class="Main-header">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index">Tereplépcső</a> @*Change*@
        </div>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div>
            @{
                if (ViewData["currentUser"] != null && ViewData["currentUser"].Equals("Admin"))
                {
                    <a asp-area="" asp-controller="Account" asp-action="AllUsers">AllUsers</a>

                }
                if (ViewData["currentUser"] == null || ViewData["currentUser"].Equals(""))
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
            }
        </div>
        <div>
            <img class="centerimg" src="~/north-arrow.jpg" alt="animated question mark">
        </div>
        <div>
            @{
                string username = "unknown";
                if (ViewData["currentUser"].ToString() != "")
                {
                    username = ViewData["currentUser"].ToString();
                }
                else
                {
                    username = "stranger";
                }
                <p class="currentUser">Welcome @username !</p>
                if (username != "stranger")
                {
                    <a asp-controller="User" asp-action="user">Your activity -></a>
                }
                }
        </div>
    </div>
    <div class="container">
        
            @RenderBody()
        
    </div>
    <div class="Main-footer">
        <div>
            &copy; 2020 - Tájfutás - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
